<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="hookConn" connectionString="Data Source=.;Initial Catalog=xilinhot;User ID=sa;Password=123;MultipleActiveResultSets=true;Max Pool Size =1000;" />
  </connectionStrings>
  <appSettings>
    <add key="serverIp" value="kgzsfw.xlgl.gov.cn"/>
    <!--<add key="serverIp" value="http://localhost:8080"/>-->
    <!--时间单位为分钟：如果读取或者取值失败 默认为10分钟-->
    <add key="TimerInterval" value="60"/>
  </appSettings>
</configuration>